@font-face {
  font-family: digital-7;
  src: url("digital-7.ttf");
}

html {
  background: #018ded url(eberhard-grossgasteiger-y2azHvupCVo-unsplash.jpg);
  background-size: cover;
  font-family: "helvetica neue";
  text-align: center;
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 2rem;
  display: flex;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.clock-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;
  justify-content: space-evenly;
  align-items: center;
  width: 33%;
}

.clock {
  width: 30rem;
  height: 30rem;
  border: 20px solid white;
  border-radius: 50%;
  margin: 50px auto;
  position: relative;
  bottom: 60px;
  padding: 2rem;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #efefef,
    inset 0 0 10px black, 0 0 10px rgba(0, 0, 0, 0.2);
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px); /* account for the height of the clock hands */
}

.hand {
  width: 50%;
  height: 6px;
  background: black;
  position: absolute;
  top: 50%;
  transform: rotate(90deg);
  transform-origin: 100%;
  transition: transform 0.5s;
}

.second-hand {
  height: 3px;
  background-color: red;
  z-index: 4;
}

.min-hand {
  z-index: 3;
}

.hour-hand {
  width: 35%;
  height: 8px;
  left: 15%;
  z-index: 2;
}

.middle {
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background-color: black;
  position: absolute;
  top: 48.5%;
  left: 47.5%;
  z-index: 5;
}

.digital-timer {
  width: 5.5em;
  height: 2em;
  background: rgba(0, 0, 0, 0.4);
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  position: absolute;
  top: 60%;
  left: 31%;
  z-index: 1;
  opacity: 0;
  transition: opacity 1s ease-in;
  font-family: digital-7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.digital-timer p {
  color: white;
  font-size: 1.5em;
}

.timer-controls {
  width: 30%;
  height: 100px;
  background: rgba(0, 0, 0, 0.4);
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  position: absolute;
  bottom: -200px;
  transition: transform 1.5s ease;
  will-change: transform;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.btn {
  width: 5em;
  height: 2em;
  font-size: 1em;
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.05);
}

.start-btn {
  background-color: green;
}

.reset-btn {
  background-color: red;
}

.pause-btn {
  background-color: blue;
}

.lap-btn {
  background-color: silver;
  cursor: not-allowed;
}

.lap-btn:active {
  background-color: rgb(180, 178, 178);
}

.reset-btn:active {
  background-color: rgb(240, 0, 0);
}

.side-panel {
  min-height: 100vh;
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.laps-container {
  width: 70%;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  transition: height 0.5s ease-out;
  background: rgba(0, 0, 0, 0.4);
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  padding-bottom: 5px;
}

table {
  width: 90%;
  margin: 10px auto 0;
  border-collapse: collapse;
  color: white;
}

th {
  border-bottom: 3px solid white;
  position: sticky;
  background-color: rgb(128, 126, 126);
  top: 0;
}

td {
  padding: 10px;
}

tr {
  height: 50px;
}

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  width: 70px;
  height: 30px;
  background: rgba(0, 0, 0, 0.4);
  border: 2px solid rgba(0, 0, 0, 0.6);
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 2px;
  width: calc(20px);
  height: calc(100% - 10px);
  background: white;
  border-radius: 90px;
  transition: 0.3s;
  border: 2px solid rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
}

input:checked + label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

#switch-container {
  display: flex;
  align-items: center;
  font-size: 18px;
}

#switch-box {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 15px;
}
